@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


 *{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
}




body{
  color: #FFFFFF;

}

main{
  max-width: 1600px;
  margin: 0 auto;
  background-color: #1A0B2E;
}

/* nav section  */
header{
  max-width: 1600px;
  background-color: #1A0B2E;
  margin: 0 auto;
  
  
}
.nav-section{
display: flex;

padding: 2.28125rem 0;
justify-content: space-around;
align-items: center;
border-bottom: 1px solid #2b0e51
}

.nav-logo{
  font-size: 2rem;
}
.nav-wave{
   background: linear-gradient(to right top, #F7E93F, #FB09B4, #9100F8);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.nav-ul{
  display: flex;
  list-style: none;
  gap:2rem;
  
}
.nav-ul a{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight:500;
}
.nav-button{
  background: linear-gradient(to right top, #F7E93F, #FB09B4, #9100F8);
  padding: 0.78rem 1rem;
  border: none;
  border-radius: 1000px;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 600;
}

.hamburger-menu{
  display: none;
}

/* banner  section */

.banner-section{
  
  background-image: url(./assets/hero-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  
}
.banner-container{
  padding-top: 6.31rem ;
  padding-bottom: 6.31rem ;
  max-width: 1600px;
  max-height: 760px;
  
}

.image-container{
 
  max-width: 305px;
  max-width: 350px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container .image-1{
  margin: 0;
  width: 100%;
  }

.image-container .image-2{
  position: absolute;
  width: 30%;
}
.banner-bage{
  background-color: #00FF88;
  position: absolute;
  top: 0.5rem;
  right: 2.4rem;
  padding: 0.5rem 1rem;
  border-radius: 1000px;
  font-weight: 700;
  text-transform: uppercase;
  color: black;
  box-shadow: 0 0 15px 5px #00ff884f;
}

.banner-text{
  padding-top: 2.5rem;
  max-width: 550px;
  text-align: center;
  margin: 0 auto;
  
 
  
  
}
.banner-text-title{
  font-size: 2.75rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}
.banner-text-p{
font-size: 1rem;
margin-bottom: 1.5rem;
}
.banner-button-1{
  background: linear-gradient(to right top, #F7E93F, #FB09B4, #9100F8);
  padding: 0.78rem 1rem;
  border: none;
  border-radius: 1000px;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 600;
}
.banner-button-2{

  background: none;
  padding: 0.78rem 1rem;
  border: 1px solid #00FF88 ;
  color: #00FF88;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 1000px;
  margin-left: 0.5rem;

}

.banner-button-2 div{
  display: flex;
  align-items: center;
}
.banner-button-2 div img{
  width: 1.2rem;
  height: 1rem;
  margin-right: 0.5rem;
}

/* about podcast section */

.about{
  
  text-align: center;
  
  
}
.about-container{
  max-width: 742px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  text-align: center;
}
.about h1{
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.about .about-p1{
  line-height: 1.25rem;
  margin-bottom: 3rem;}

.about .about-p2{
  line-height: 1.25rem;
  margin-bottom: 3rem;
}
.about-hr{
color: #FFFFFF;
border:none;
max-width: 1200px;
margin: 0 auto;
background-color: #ffffff20;
height: 0.1px;
}

 .about-card-container{
    display:grid;
    max-width: 1200px;
    /* border: 2px solid; */
   grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    gap: 5rem;
    padding-bottom:7.5rem ;
    margin-top: 5rem;
  }
  .card-about{
    /* border: 1px solid; */
  }
  .card-about h1{
    font-size: 3rem;
    color: #00FF88;
    font-weight: 900;
    margin-bottom: 1rem;
  }
  .card-about p{
    text-transform: uppercase;
  }

  /* grid container */
  .grid-section{
    padding: 7.5rem 12.5rem;
    background-color: #230E3D;
  }

  .grid-section-title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
    text-align: center;
  }
   .grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
   }

  .grid-container div{
    background-color: #F7E93F;
    border-radius: 40px;
    padding: 2.5rem;
    background-color: #35116558;
    align-content: center;
    
  }

  .grid-container div h1{
    font-size:1.25rem ;
    margin: 1rem 0;
    font-weight: 700;
  }
  .grid-container div p{
   
    line-height: 1.5rem;
  }

  .grid-container .box-1{
    grid-row: span 2/3;
  }
  .grid-container .box-2{
    grid-column: span 2;
  }
  .grid-container .box-3{
    grid-column: span 2;
  }
  .grid-container .box-4{
    grid-column: span 2;
  }

  .grid-container .interview-icon{
    max-width: 3.75rem;
    width: 3.75rem;
    background: none;
  }

  /* episodes container */

  .episodes{
    padding: 7.5rem 0;
  }

  .episodes{
    max-width: 1200px;
    margin: 0 auto;  
  }

  .episodes-title{
    text-align: center;
    font-weight: 700;
    font-size: 3rem;

    margin-bottom: 2.5rem;
  }
  .iframe-container{
  
    display: flex;
    justify-content: space-around;
  }
  .iframe-container .iframe-card {
    max-width: 380px;
    border-radius: 24px;
    overflow: hidden;
    background-color: #250D44;
  }
  
  .iframe-video{
    max-width: 23.75rem;
    height: 13.37rem;
  }
  .iframe-container iframe{
    width: 100%;
    height: 100%;
  }

  .iframe-text{
    padding: 1.5rem;
  }

  .iframe-card h3{
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }

  .iframe-p2{
    color: #00FF88;
    margin-top: 0.75rem;

  }

  /* host section */
  .host-section{
    margin-top: 7.5rem;
  }

  .host-title{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
  }

  .host-container{
    display: flex;
    max-width: 1200px;
    background-color: #250D44;
    border-radius: 24px;
    align-items: center;
    margin-top: 2.5rem;
    gap: 1.5rem;

  }
  .host-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .host-text h3{
    font-weight: 700;
    font-size: 2rem;
  }
  .social-host{
    display: flex;
    gap: 10px;
    
  }
  .social-host div{
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    border: 1.5px solid #402761;
   align-items: center;
   justify-content: center;
   border-radius: 999px;
  }
  .social-host img{
    width: 50%;
    height: 50%;
  }

  /* footer */
  footer{
    background-image: url(./assets/footer-bg.png);
    padding: 7.5rem;
    background-position: center;
    background-repeat: no-repeat;
  }

  footer>div{
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    
    
  }

  .footer-title {
    font-size: 4rem;
    margin-bottom: 1rem;
    
  }
  .social-footer ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 0rem;
    align-items: center;
    list-style: none;
    max-width: 600px;
    margin: 0 auto;
    
    margin-bottom: 2rem;}

  /* .social-footer ul{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    align-items: center;
    list-style: none;
    
    margin-bottom: 2rem; */
  
  .social-footer ul a{
    text-decoration: none;
    color: #FFFFFF;
    
  }
  
  .apple-poadcast{
    display: flex;
    align-items:center;
    justify-content: center;
    
  }
@media screen and (max-width:576px) {

  html{
    font-size: 12px;
  }
  
  
   /*nav section  */
   .nav-section{
display: flex;

padding: 0.28125rem 0;
justify-content: space-around;
align-items: center;
border-bottom: 1px solid #2b0e51
}

  .nav-section{
display: flex;

padding: 2rem 2rem ;
justify-content: space-between;
align-items: center;}
.nav-logo{
  font-size: 3rem;
}

  .nav-ul, .nav-button{
    display: none;
  }
  .hamburger-menu{
    display:block;

  }
  /* banner- section */

  .banner-bage{
  background-color: #00FF88;
  position: absolute;
  top: 0.1rem;
  right: 1.4rem;
  padding: 0.5rem 1rem;
  border-radius: 1000px;
  font-weight: 700;
  text-transform: uppercase;
  color: black;
  box-shadow: 0 0 15px 5px #00ff884f;
}
  .banner-text{
  padding-top: 2rem;
  width: 90vw;
  }

  .image-container{
 
  max-width: 200px;
  max-width: 200px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-container{
  padding-top: 4rem ;
  padding-bottom: 4rem ;
  max-width: 100vw;
  max-height: 760px;}

  /* .about section */

  .about-container{
  max-width: 742px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  text-align: center;
 
}

  .about-hr{
    max-width: 91%;
    
  }

  .about-card-container{
    display:grid;
    max-width: 91%;
   grid-template-columns: repeat(2, 1fr);
    margin:2rem 2rem;
    gap: 4rem;
    padding-bottom:1rem ;
  }

  /* grid section */


.grid-section{
    padding: 4rem 2rem;
    background-color: #230E3D;

  }

  .grid-section-title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
    text-align: center;
  }
   .grid-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 0;
    justify-content: center;
   }

  .grid-container div{

    border-radius: 24px;
    padding: 2.5rem;
    background-color: #35116558;
    align-content: center;
  width: 75vw;
    margin: 0 auto;
    margin-bottom: 1rem;
    
  }

 /* episodes container */

  .episodes{
    padding: 3.3rem 0;
  }

  .episodes{
    max-width: 1200px;
    margin: 0 auto;  
  }

  .episodes-title{
    text-align: center;
    font-weight: 700;
    font-size: 3rem;

    margin-bottom: 2.5rem;
  }
  .iframe-container{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90vw;
   
    margin: 0 auto;
  }
  .iframe-container .iframe-card {
    max-width: 90vw;
    height: 400px;
    border-radius: 24px;
    overflow: hidden;
    background-color: #250D44;
    margin-bottom: 1rem;
  }
  
  .iframe-video{
    width: 90vw;
   height: 60%;
    
  }
  .iframe-container iframe{
    width: 90vw;
    height: 100%;
  }

  .iframe-text{
    padding: 1.5rem;
  }

  .iframe-card h3{
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }

  .iframe-p2{
    color: #00FF88;
    margin-top: 0.75rem;

  }

/* host section */
  .host-section{
    margin-top: 5.8rem;
  }

  .host-title{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
  }

  .host-container{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    background-color: #250D44;
    border-radius: 24px;
    align-items: center;
    margin-top: 2.5rem;
    gap: 1.5rem;

  }
  .host-text{
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    text-align: center;
    padding-bottom: 1.5rem;
  }

  .host-text h3{
    font-weight: 700;
    font-size: 2rem;
  }
  .social-host{
    display: flex;
    gap: 5px;
    justify-content: center;}
   .host-image{
margin-top: 1rem;

   }
  
  .social-host div{
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    border: 1.5px solid #402761;
   align-items: center;
   justify-content: center;
   border-radius: 999px;
  }
  .social-host img{
    
    width: 50%;
    height: 50%;
  }

  /* footer section */

  footer{
    background-image: url(./assets/footer-bg.png);
    padding: 2rem;
    background-position: center;
    background-repeat: no-repeat;
    
  }

  footer>div{
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    
    
  }

  .footer-title {
    font-size: 3.3rem;
    margin-bottom: 1rem;
    text-align: center;
    
  }
  .social-footer ul{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 1rem;
    align-items: center;
    list-style: none;
    max-width: 250px;

    margin: 0 auto;
    
    margin-bottom: 2rem;}
  .social-footer ul a{
    text-decoration: none;
    color: #FFFFFF;
    
  }
  
  .apple-poadcast{
    display: flex;
    margin-left: 25px;
    align-items: center;
    
  }
  .apple-poadcast img{
    width: 15px;
  }}

  /* animation */

  .banner-button-1{
  
  padding: 0.78rem 1rem;
  border: none;
  border-radius: 1000px;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 600;
}

  @keyframes button{
    0% {
      background: linear-gradient(to right top, #F7E93F, #aaa425, #ceb216);
    }
    35% {
      background: linear-gradient(to right top,  #3da841, #349b49, #054931);
    }

  70% {
     background: linear-gradient(to right top, #b32a2a, #a72475, #93530f )
  }

  100%{
    background: linear-gradient(to right top,  #FB09B4, #F7E93F, #9100F8 )
  }

  }

  .nav-button{
    animation: button 2s infinite ;
  }